/* About styles */

.about {
    height: 100vh;
}

.title {  /*about me*/
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #3A3845;
    padding: 150px;
}

.about-content {
    display: flex;
    margin-bottom: 50px;
}


.column-left{
    width: 55%;
}
.column-right{
    width: 45%;
}


img{ /*about me image left*/
    height: 400px;
}

.column-right {
    font-size: 20px;
}

.column-right p{ /*about me text*/
    text-align: justify;
}


.column-right h3{ /*I am Lela*/
    font-size: 25px;
    color: #B57894;
    font-weight: 600;
}

.column-right a{ /*Download CV*/
    display: inline-block;
    color: #3A3845;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 50px;
    font-weight: 400;
    border-radius: 6px;
    border: 3px solid #B57894;
    border-radius: 5mm;
}

.column-right a:hover { /*Download CV hover*/
    background-color: #B57894;
    color: #FFFFFF;
    transition: all 0.5s ease;
}