/* About styles */

.contact {
    height: 50vh;
    margin-bottom: 50px;
}

.title {  /*about me*/
    font-size: 35px;
    color: #3A3845;
    padding: 150px;
}

.contact-send {
    display: flex;
    justify-content: center;
}


.contact-email {
    padding: 10px;
    margin-right: 50px;
    text-align-last: auto;
    border-radius: 5px;
    border: none;
    background-color: #ebebeb;
}

.contact-text {
    padding: 10px;
    text-align-last: auto;
    margin-right: 50px;
    border-radius: 5px;
    border: none;
    background-color: #ebebeb;
}

.send {  /*send btn*/
    outline: none;
    margin-left: 15px;
    width: 50px;
    border: 2px solid #B57894;
    border-radius: 5px;
}

.send:hover {
    background-color: #B57894;
    transition: all 0.5s ease;
}