/* footer styles */
.footer { /*footer-ის მთლიანი ნავიგაცია*/
    width: 100%;
    transition: all 0.5s ease;
    font-family: "Mukta", sans-serif;
    padding: 70px 0;
    background: #3A3845;
    box-shadow: 0px 0px 10px rgb(26, 23, 23);
}


.footer .max-width {  /*footer-ის მთლიანი div*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer .logo a{
    color: #B57894;
    font-size: 30px;
    font-weight: 800;
}


.footer .contact-footer-title {
    list-style: none;
    color: #ffffff;
}


.footer li{
    list-style: none;
    color: #F6CCAC;
    font-size: 15px;
}


.search-input {
    color: #000000;
    font-size: 15px;
    background-color: #FFFFFF;
    padding: 10px 30px;
    margin-top: 20px;
    border: 3px solid white;
    border-radius: 3mm;
    transition: all 0.5s ease;
    outline: none;
}


.search-btn { /* search btn style*/
    color: #ffffff;
    font-size: 15px;
    background-color: #3A3845;
    padding: 10px 5px;
    margin-top: 20px;
    border: 3px solid white;
    border-radius: 3mm;
    margin-right: 5px;
}

.search-btn:hover { /* search btn hover*/
    color: #3A3845;
    background-color: #FFFFFF;
    transition: all 0.5s ease;
}


