/* home  styles */ 
.home { 
    display: flex;
    background: url("../images/main\ image-01.png") no-repeat center;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Mukta", sans-serif;
}


.home .max-width{ 
    width: 100%;
    display: flex;
}


.home .home-content .text-1{  /*Hello, my name is*/
    font-size: 27px;
}


.home .home-content .text-2{  /*LELA SARISHVILI*/
    font-size: 80px;
    color: #C9AF9D;
    font-weight: 600;
    margin-left: 0px;
}


.home .home-content .text-3{  /*and i am a*/
    font-size: 20px;
    margin: 5px 0;
}


.home .home-content .text-4{ /*GRAPHIC DESIGNER &*/
    font-size: 30px;
    color: #B57894;
    font-weight: 600;
    margin-left: 0px;
}


.home .home-content .text-5{  /*EBRU ARTIST*/
    font-size: 30px;
    color: #B57894;
    font-weight: 600;
    margin: 5px 0;
}


.home .home-content a{  /*hire me-style*/
    display: inline-block;
    color: #ffffff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 3px solid #B57894;
    border-radius: 5mm;
    transition: all 0.5s ease;
}


.home .home-content a:hover { /*hire me-hover*/
    display: inline-block;
    color: #ffffff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    background-color: #B57894;
    border-radius: 5mm;
    transition: all 0.5s ease;
}
