
* {
    background-color: rgb(255, 255, 255);
}

.background {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.loginregister-container {
    margin: 15rem;
}



