.navbar {
    position: fixed;
    width: 100%;
    z-index: 30px 0;
    transition: all 0.5s ease;
    font-family: "Mukta", sans-serif;
    padding: 15px 0;
    background: #3A3845;
    box-shadow: 0px 0px 10px rgb(26, 23, 23);
}

.navbar .max-width {  /*ნავიგაციის მთლიანი div*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .logo a{
    color: #B57894;
    font-size: 30px;
    font-weight: 800;
}


.navbar .menu li{
    list-style: none;
    display: inline-block;
}


.navbar .menu li a{
    display: block;
    color: #F6CCAC;
    font-size: 20px;
    margin-left: 25px;
    transition: color 0.5s ease;
}


.navbar .menu li a:hover{
    color: #FFFFFF;
}


.login {  /* login btn style*/
    color: #ffffff;
    font-size: 15px;
    background-color: #3A3845;
    padding: 10px 30px;
    margin-top: 20px;
    border: 3px solid #B57894;
    border-radius: 3mm;
    transition: all 0.5s ease;
    margin-right: 5px;
}

.login:hover {  /* login btn hover*/
    background-color: #B57894;
}


.register {  /* register btn style*/
    color: #ffffff;
    font-size: 15px;
    background-color: #3A3845;
    padding: 10px 30px;
    margin-top: 20px;
    border: 3px solid #B57894;
    border-radius: 3mm;
    transition: all 0.5s ease;
}

.register:hover {  /* register btn hover*/
    background-color: #B57894;
}

