

/* not very similar styles */
.services {
    height: 100vh;
    background-color: #3A3845;
}

.title2 { 
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #ffffff;
    padding: 150px;
}

.services-content {
    display: flex;
    justify-content: center;
}



/* new styles */
.card {
    background-color: #ffffff;
    border-radius: 5mm;
    padding: 60px 35px;
    text-align: center;
    margin: 8px;
    box-shadow: 0px 0px 10px rgb(26, 23, 23);
}

.material-symbols-outlined { /*icons*/
    color: #3A3845;
    font-size: 500px;
    padding: 0px;
}

.text {
    font-size: 20px;
    color: #B57894;
    font-weight: 600;
}

p {
    text-align: left;
    font-size: 15px;
}



.button-input {
    display: flex;
    margin-top: 20px;
}

.quantity {  /*quantity input*/
    padding: 10px;
    text-align-last: auto;
    border-radius: 5px;
    border: none;
    background-color: #ebebeb;
}

.add {  /*order btn icon*/
    outline: none;
    margin-left: 15px;
    width: 50px;
    border: 2px solid #B57894;
    border-radius: 5px;
}

.add:hover {
    background-color: #B57894;
    transition: all 0.5s ease;
}