


/*colors*/
:root {
    --pink: #86647e;
}

:root {
    --dark: #1c1f33;
}

:root {
    --white: #ffffff;
}

// :root {
//     --beige: #F6CCAC;
// }

:root {
    --beige: #ffffff;
}


:root {
    --shadow: #000000;
}
