


/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/*navbar*/
@import './layouts/navbar.scss';

/*burger menu*/
@import './layouts/burger_menu.scss';


/*home*/
@import './pages/home.scss';

/*about*/
@import './pages/about.scss';

/*services*/
@import './pages/services.scss';

/*contact*/
@import './pages/contact.scss';

/*footer*/
@import './layouts/footer.scss';

/*grid*/
@import './layouts/grid.scss';




/*abstract*/

/*functions*/
@import './abstracts/functions.scss';

/*mixins*/
@import './abstracts/mixins.scss';

/*variables*/
@import './abstracts/variables.scss';


/*base*/
/*animations*/
@import './base/animations.scss';

/*typography*/
@import './base/typography.scss';

/*utilities*/
@import './base/utilities.scss';



/*components*/
/*buttons*/
@import './componencts/button.scss';

/*card*/
@import './componencts/card.scss';

/*inputs*/
@import './componencts/inputs.scss';

/*popup*/
@import './componencts/inputs.scss';


/*forms*/
@import './forms/login_register.scss';





/*General styles.mixin*/
* {
    @include general_styles;
    max-width: 100%;
    font-family: 'Mukta', sans-serif;
}

/* all similar content styls.mixin*/
.max-width{
    @include max-width;
}




