/*google font*/
/* @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Radio+Canada:wght@300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Varela+Round&display=swap');
@import url("./css/navbar.css");
@import url("./css/home.css");
@import url("./css/about.css");
@import url("./css/services.css");
@import url("./css/contact.css");
@import url("./css/footer.css"); */






/*General styles*/
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
} */

/* html {
    scroll-behavior: smooth;
    font-family: "Mukta", sans-serif;
} */





/* all similar content styling codes*/
/* .max-width{
    max-width: 70%;
    margin: auto;
} */



