/* About styles */
.contact {
  max-height: fit-content;
  margin-bottom: 5rem;
  height: 50vh; }

.title {
  /*about me*/
  font-size: 3.5rem;
  color: var(--dark);
  padding: 15rem; }

.contact-send {
  display: flex;
  justify-content: center;
  height: 5rem; }

.contact-email {
  padding: 1rem;
  margin-right: 5rem;
  text-align-last: auto;
  border-radius: 0.5rem;
  border: none;
  background-color: #ebebeb; }

.contact-text {
  padding: 1rem;
  text-align-last: auto;
  margin-right: 5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #ebebeb; }
