.grid {
  display: grid;
  grid-template-areas: "n" "h" "a" "s" "c" "f";
  max-height: fit-content; }

#navbar {
  grid-area: n; }

#home {
  grid-area: h; }

#about {
  grid-area: a; }

#services {
  grid-area: s; }

#contact {
  grid-area: c; }

#footer {
  grid-area: f; }
