@charset "UTF-8";
/*google font*/
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
/*navbar*/
.navbar {
  position: fixed;
  width: 100%;
  transition: all 0.5s ease;
  font-family: "Mukta", sans-serif;
  padding: 1.5rem 0;
  background: var(--dark);
  box-shadow: 0rem 0rem 1rem var(--shadow);
  z-index: 50; }

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.navbar .logo a {
  /*logo "PORTFOLIO"*/
  color: var(--pink);
  font-size: 3rem;
  font-weight: 800; }

.navbar .menu li {
  /*home, about, services, contact*/
  list-style: none;
  display: inline-block; }

.navbar .menu li a {
  /*home, about, services, contact*/
  display: block;
  color: var(--beige);
  font-size: 2rem;
  margin-left: 2.5rem;
  transition: color 0.5s ease;
  font-weight: 0; }

.navbar .menu li a:hover {
  /*home, about, services, contact*/
  color: var(--pink); }

/*burger menu*/
/*home*/
/* home  styles */
.home {
  display: flex;
  background-color: var(--dark);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: var(--white);
  background-attachment: fixed;
  font-family: "Mukta", sans-serif; }

.home .max-width {
  width: 100%;
  display: flex; }

.home .text-1 {
  /*Hello, my name is*/
  font-size: 2.7rem; }

.home .text-2 {
  /*LELA SARISHVILI*/
  font-size: 8rem;
  color: var(--beige);
  font-weight: 600;
  margin-left: 0rem; }

.home .text-3 {
  /*i am*/
  font-size: 2.7rem;
  margin: 0.5rem 0; }

.home .text-4 {
  /*GRAPHIC DESIGNER &*/
  font-size: 3rem;
  color: var(--pink);
  font-weight: 600;
  margin-left: 0rem; }

.home .text-5 {
  /*EBRU ARTIST*/
  font-size: 3rem;
  color: var(--pink);
  font-weight: 600;
  margin: 0.5rem 0; }

/*about*/
/* About styles */
.about {
  max-height: fit-content;
  width: 100%;
  transition: all 0.5s ease;
  font-family: "Mukta", sans-serif;
  padding: 1.5rem 0;
  background: var(--white); }

.title {
  /*about me*/
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  color: var(--dark);
  padding: 15rem; }

.about-content {
  display: flex;
  margin-bottom: 5rem; }

.column-left {
  width: 100rem; }

.column-right {
  width: 45%; }

img {
  /*about me image left*/
  height: 40rem; }

.column-right {
  font-size: 2rem; }

.column-right p {
  /*about me text*/
  text-align: justify; }

.column-right h3 {
  /*I am Lela*/
  font-size: 2.5rem;
  color: var(--pink);
  font-weight: 600; }

/*services*/
/* not very similar styles */
.services {
  max-height: fit-content;
  background-color: var(--dark); }

.title2 {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  color: var(--white);
  padding: 15rem; }

/*contact*/
/* About styles */
.contact {
  max-height: fit-content;
  margin-bottom: 5rem;
  height: 50vh; }

.title {
  /*about me*/
  font-size: 3.5rem;
  color: var(--dark);
  padding: 15rem; }

.contact-send {
  display: flex;
  justify-content: center;
  height: 5rem; }

.contact-email {
  padding: 1rem;
  margin-right: 5rem;
  text-align-last: auto;
  border-radius: 0.5rem;
  border: none;
  background-color: #ebebeb; }

.contact-text {
  padding: 1rem;
  text-align-last: auto;
  margin-right: 5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #ebebeb; }

/*footer*/
/* footer styles */
.footer {
  /*footer-ის მთლიანი ნავიგაცია*/
  width: 100%;
  transition: all 0.5s ease;
  font-family: "Mukta", sans-serif;
  padding: 7rem 0;
  background-color: var(--dark);
  box-shadow: 0rem 0rem 1rem var(--shadow); }

.footer .max-width {
  /*footer-ის მთლიანი div*/
  display: flex;
  align-items: center;
  justify-content: space-between; }

.footer .logo a {
  color: var(--pink);
  font-size: 3rem;
  font-weight: 800; }

.footer .contact-footer-title {
  list-style: none;
  color: var(--white);
  font-size: 2rem; }

.footer li {
  /*contact me info*/
  list-style: none;
  color: var(--beige);
  font-size: 1.5rem; }

/*grid*/
.grid {
  display: grid;
  grid-template-areas: "n" "h" "a" "s" "c" "f";
  max-height: fit-content; }

#navbar {
  grid-area: n; }

#home {
  grid-area: h; }

#about {
  grid-area: a; }

#services {
  grid-area: s; }

#contact {
  grid-area: c; }

#footer {
  grid-area: f; }

/*abstract*/
/*functions*/
/*mixins*/
/*media-ეკრანის ზომების მიხედვით კონტროლი*/
/**/
@media (max-width: 1200px) {
  .menu {
    visibility: hidden; } }

@media (max-width: 1200px) {
  .services-content {
    flex-direction: column; } }

@media (max-width: 1200px) {
  .contact-send {
    flex-direction: column; } }

@media (max-width: 1200px) {
  .login-register {
    visibility: hidden; } }

@media (min-width: 1200px) {
  .topnav {
    visibility: hidden; } }

@media (max-width: 1200px) {
  .home-content {
    max-height: 50rem; } }

@media (max-width: 1200px) {
  .about-content {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .column-right {
    width: 100%; } }

/*variables*/
/*colors*/
:root {
  --pink: #86647e; }

:root {
  --dark: #1c1f33; }

:root {
  --white: #ffffff; }

:root {
  --beige: #ffffff; }

:root {
  --shadow: #000000; }

/*base*/
/*animations*/
/*typography*/
/*utilities*/
/*components*/
/*buttons*/
/* navbar */
.login {
  /* login btn style*/
  color: var(--white);
  font-size: 1.5rem;
  background-color: var(--dark);
  padding: 1rem 3rem;
  margin-top: 2rem;
  border: 0.3rem solid var(--pink);
  border-radius: 1rem;
  transition: all 0.5s ease;
  margin-right: 0.5rem; }

.login a {
  /* login btn style*/
  color: var(--white);
  font-size: 1.5rem; }

.login:hover {
  /* login btn hover*/
  background-color: var(--pink); }

.register {
  /* register btn style*/
  color: var(--white);
  font-size: 1.5rem;
  background-color: var(--dark);
  padding: 1rem 3rem;
  margin-top: 2rem;
  border: 0.3rem solid var(--pink);
  border-radius: 1rem;
  transition: all 0.5s ease; }

.register a {
  /* login btn style*/
  color: var(--white);
  font-size: 1.5rem; }

.register:hover {
  /* register btn hover*/
  background-color: var(--pink); }

/* home */
.home .home-content a {
  /*hire me-style*/
  display: inline-block;
  color: var(--white);
  font-size: 2.5rem;
  padding: 1.2rem 3.6rem;
  margin-top: 2rem;
  font-weight: 400;
  border-radius: 0.6rem;
  border: 0.3rem solid var(--pink);
  border-radius: 1rem;
  transition: all 0.5s ease; }

.home .home-content a:hover {
  /*hire me-hover*/
  display: inline-block;
  color: var(--white);
  font-size: 2.5rem;
  padding: 1.2rem 3.6rem;
  margin-top: 2rem;
  font-weight: 400;
  border-radius: 0.6rem;
  background-color: var(--pink);
  border-radius: 1rem;
  transition: all 0.5s ease; }

/* about */
.column-right a {
  /*Download CV*/
  display: inline-block;
  color: var(--dark);
  font-size: 2.5rem;
  padding: 1.5rem 3.6rem;
  margin-top: 5rem;
  font-weight: 400;
  border-radius: 0.6rem;
  border: 0.3rem solid var(--pink);
  border-radius: 1rem; }

.column-right a:hover {
  /*Download CV hover*/
  background-color: var(--pink);
  color: var(--white);
  transition: all 0.5s ease; }

/* services */
.add {
  /*order btn icon*/
  outline: none;
  margin-left: 1.5rem;
  width: 5rem;
  border: 0.2rem solid var(--pink);
  border-radius: 0.5rem; }

.add:hover {
  background-color: var(--pink);
  transition: all 0.5s ease; }

/* contact */
.send {
  /*send btn*/
  outline: none;
  margin-left: 1.5rem;
  width: 5rem;
  border: 0.2rem solid var(--pink);
  border-radius: 0.5rem; }

.send:hover {
  background-color: var(--pink);
  transition: all 0.5s ease; }

/* footer */
.search-btn {
  /* search btn style*/
  color: var(--white);
  font-size: 1.5rem;
  background-color: var(--dark);
  padding: 1rem .5rem;
  margin-top: 2rem;
  border: 0.3rem solid var(--white);
  border-radius: 1rem;
  margin-right: 5rem; }

.search-btn:hover {
  /* search btn hover*/
  color: var(--darck);
  background-color: var(--white);
  transition: all 0.5s ease; }

/*card*/
/* main div */
.services-content {
  display: flex;
  justify-content: center; }

.card {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 6rem 3.5rem;
  text-align: center;
  margin: 0.8rem;
  box-shadow: 0rem 0rem 1rem var(--shadow);
  margin-bottom: 5rem; }

.material-symbols-outlined {
  /*icons*/
  color: var(--dark);
  font-size: 2rem;
  padding: 0rem; }

.text {
  font-size: 2rem;
  color: var(--pink);
  font-weight: 600; }

p {
  text-align: left;
  font-size: 1.5rem; }

/*inputs*/
/* services */
.button-input {
  display: flex;
  margin-top: 2rem; }

.quantity {
  /*quantity input*/
  padding: 1rem;
  text-align-last: auto;
  border-radius: 0.5rem;
  border: none;
  background-color: #ebebeb; }

/* contuct */
.button-input {
  display: flex;
  margin-top: 2rem; }

/* footer */
.search-input {
  /*search input*/
  color: var(--shadow);
  font-size: 1.5rem;
  background-color: var(--white);
  padding: 1rem 3rem;
  margin-top: 2rem;
  border: 0.3rem solid var(--white);
  border-radius: 1rem;
  transition: all 0.5s ease;
  outline: none; }

/*popup*/
/* services */
.button-input {
  display: flex;
  margin-top: 2rem; }

.quantity {
  /*quantity input*/
  padding: 1rem;
  text-align-last: auto;
  border-radius: 0.5rem;
  border: none;
  background-color: #ebebeb; }

/* contuct */
.button-input {
  display: flex;
  margin-top: 2rem; }

/* footer */
.search-input {
  /*search input*/
  color: var(--shadow);
  font-size: 1.5rem;
  background-color: var(--white);
  padding: 1rem 3rem;
  margin-top: 2rem;
  border: 0.3rem solid var(--white);
  border-radius: 1rem;
  transition: all 0.5s ease;
  outline: none; }

/*forms*/
/*General styles.mixin*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 10px;
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
  max-width: 100%;
  font-family: 'Mukta', sans-serif; }

/* all similar content styls.mixin*/
.max-width {
  max-width: 70%;
  margin: auto;
  max-height: fit-content;
  position: relative; }
