@charset "UTF-8";
/*media-ეკრანის ზომების მიხედვით კონტროლი*/
/**/
@media (max-width: 1200px) {
  .menu {
    visibility: hidden; } }

@media (max-width: 1200px) {
  .services-content {
    flex-direction: column; } }

@media (max-width: 1200px) {
  .contact-send {
    flex-direction: column; } }

@media (max-width: 1200px) {
  .login-register {
    visibility: hidden; } }

@media (min-width: 1200px) {
  .topnav {
    visibility: hidden; } }

@media (max-width: 1200px) {
  .home-content {
    max-height: 50rem; } }

@media (max-width: 1200px) {
  .about-content {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .column-right {
    width: 100%; } }
