

/* navbar */

.login {  /* login btn style*/
    color: var(--white);
    font-size: 1.5rem;
    background-color: var(--dark);
    padding: 1rem 3rem;
    margin-top: 2rem;
    border: 0.3rem solid var(--pink);
    border-radius: 1rem;
    transition: all 0.5s ease;
    margin-right: 0.5rem;
}

.login a {  /* login btn style*/
    color: var(--white);
    font-size: 1.5rem;
}

.login:hover {  /* login btn hover*/
    background-color: var(--pink);
}

.register {  /* register btn style*/
    color: var(--white);
    font-size: 1.5rem;
    background-color: var(--dark);
    padding: 1rem 3rem;
    margin-top: 2rem;
    border: 0.3rem solid var(--pink);
    border-radius: 1rem;
    transition: all 0.5s ease;
}

.register a {  /* login btn style*/
    color: var(--white);
    font-size: 1.5rem;
}

.register:hover {  /* register btn hover*/
    background-color: var(--pink);
}



/* home */

.home .home-content a{  /*hire me-style*/
    display: inline-block;
    color: var(--white);
    font-size: 2.5rem;
    padding: 1.2rem 3.6rem;
    margin-top: 2rem;
    font-weight: 400;
    border-radius: 0.6rem;
    border: 0.3rem solid var(--pink);
    border-radius: 1rem;
    transition: all 0.5s ease;
}

.home .home-content a:hover { /*hire me-hover*/
    display: inline-block;
    color: var(--white);
    font-size: 2.5rem;
    padding: 1.2rem 3.6rem;
    margin-top: 2rem;
    font-weight: 400;
    border-radius: 0.6rem;
    background-color: var(--pink);
    border-radius: 1rem;
    transition: all 0.5s ease;
}



/* about */

.column-right a{ /*Download CV*/
    display: inline-block;
    color: var(--dark);
    font-size: 2.5rem;
    padding: 1.5rem 3.6rem;
    margin-top: 5rem;
    font-weight: 400;
    border-radius: 0.6rem;
    border: 0.3rem solid var(--pink);
    border-radius: 1rem;
}

.column-right a:hover { /*Download CV hover*/
    background-color: var(--pink);
    color: var(--white);
    transition: all 0.5s ease;
}



/* services */

.add {  /*order btn icon*/
    outline: none;
    margin-left: 1.5rem;
    width: 5rem;
    border: 0.2rem solid var(--pink);
    border-radius: 0.5rem;
}

.add:hover {
    background-color: var(--pink);
    transition: all 0.5s ease;
}




/* contact */

.send {  /*send btn*/
    outline: none;
    margin-left: 1.5rem;
    width: 5rem;
    border: 0.2rem solid var(--pink);
    border-radius: 0.5rem;
}


.send:hover {
    background-color: var(--pink);
    transition: all 0.5s ease;
}




/* footer */

.search-btn { /* search btn style*/
    color: var(--white);
    font-size: 1.5rem;
    background-color: var(--dark);
    padding: 1rem .5rem;
    margin-top: 2rem;
    border: 0.3rem solid var(--white);
    border-radius: 1rem;
    margin-right: 5rem;
}

.search-btn:hover { /* search btn hover*/
    color: var(--darck);
    background-color: var(--white);
    transition: all 0.5s ease;
}
