

/* main div */
.services-content {
    display: flex;
    justify-content: center;
}

.card {
    background-color: var(--white);
    border-radius: 1rem;
    padding: 6rem 3.5rem;
    text-align: center;
    margin: 0.8rem;
    box-shadow: 0rem 0rem 1rem var(--shadow);
    margin-bottom: 5rem;
}

.material-symbols-outlined { /*icons*/
    color: var(--dark);
    font-size: 2rem;
    padding: 0rem;
}

.text {
    font-size: 2rem;
    color: var(--pink);
    font-weight: 600;
}

p {
    text-align: left;
    font-size: 1.5rem;
}