

/* services */

.button-input {
    display: flex;
    margin-top: 2rem;
}

.quantity {  /*quantity input*/
    padding: 1rem;
    text-align-last: auto;
    border-radius: 0.5rem;
    border: none;
    background-color: #ebebeb;
}




/* contuct */

.button-input {
    display: flex;
    margin-top: 2rem;
}




/* footer */
.search-input {  /*search input*/
    color: var(--shadow);
    font-size: 1.5rem;
    background-color: var(--white);
    padding: 1rem 3rem;
    margin-top: 2rem;
    border: 0.3rem solid var(--white);
    border-radius: 1rem;
    transition: all 0.5s ease;
    outline: none;
}
