/* About styles */

.about {
    max-height: fit-content;
    width: 100%;
    transition: all 0.5s ease;
    font-family: "Mukta", sans-serif;
    padding: 1.5rem 0;
    background: var(--white);

}

.title {  /*about me*/
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    color: var(--dark);
    padding: 15rem;
}

.about-content {
    display: flex;
    margin-bottom: 5rem;
}


.column-left{
    width: 100rem;
}
.column-right{
    width: 45%;
}


img{ /*about me image left*/
    height: 40rem;
}

.column-right {
    font-size: 2rem;
}

.column-right p{ /*about me text*/
    text-align: justify;
}


.column-right h3{ /*I am Lela*/
    font-size: 2.5rem;
    color: var(--pink);
    font-weight: 600;
}
