/* home  styles */ 
.home { 
    display: flex;
    // background-image: url("../main-img.png");
    background-color: var(--dark);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    color: var(--white);
    background-attachment: fixed;
    font-family: "Mukta", sans-serif;
}


.home .max-width{ 
    width: 100%;
    display: flex;
}


.home .text-1{  /*Hello, my name is*/
    font-size: 2.7rem;
}


.home .text-2{  /*LELA SARISHVILI*/
    font-size: 8rem;
    color: var(--beige);
    font-weight: 600;
    margin-left: 0rem;
}


.home .text-3{  /*i am*/
    font-size: 2.7rem;
    margin: 0.5rem 0;
}


.home .text-4{ /*GRAPHIC DESIGNER &*/
    font-size: 3rem;
    color: var(--pink);
    font-weight: 600;
    margin-left: 0rem;
}


.home .text-5{  /*EBRU ARTIST*/
    font-size: 3rem;
    color: var(--pink);
    font-weight: 600;
    margin: 0.5rem 0;
}
