

/* not very similar styles */
.services {
    max-height: fit-content;
    background-color: var(--dark);
}

.title2 { 
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    color: var(--white);
    padding: 15rem;
}



