/* footer styles */
.footer { /*footer-ის მთლიანი ნავიგაცია*/
    width: 100%;
    transition: all 0.5s ease;
    font-family: "Mukta", sans-serif;
    padding: 7rem 0;
    background-color: var(--dark);
    box-shadow: 0rem 0rem 1rem var(--shadow);
}


.footer .max-width {  /*footer-ის მთლიანი div*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer .logo a{
    color: var(--pink);
    font-size: 3rem;
    font-weight: 800;
}


.footer .contact-footer-title {
    list-style: none;
    color: var(--white);
    font-size: 2rem;
}


.footer li{  /*contact me info*/
    list-style: none;
    color: var(--beige);
    font-size: 1.5rem;
}



