.navbar {
    position: fixed;
    width: 100%;
    transition: all 0.5s ease;
    font-family: "Mukta", sans-serif;
    padding: 1.5rem 0;
    background: var(--dark);
    box-shadow: 0rem 0rem 1rem var(--shadow);
    z-index: 50;
}

.navbar .max-width {  
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .logo a{  /*logo "PORTFOLIO"*/
    color: var(--pink);
    font-size: 3rem;
    font-weight: 800;
}


.navbar .menu li{ /*home, about, services, contact*/
    list-style: none;
    display: inline-block;
}


.navbar .menu li a{ /*home, about, services, contact*/
    display: block;
    color: var(--beige);
    font-size: 2rem;
    margin-left: 2.5rem;
    transition: color 0.5s ease;
    font-weight: 0;
}


.navbar .menu li a:hover{ /*home, about, services, contact*/
    color: var(--pink);
}

